<div
  class="main-panel pageNotFound-window flex items-center justify-center text-center"
>
  <div class="content-wrapper error-page pt-5">
    <div class="row flex-grow">
      <div class="col-lg-7 mx-auto">
        <div class="row items-center flex-row">
          <div class="col-lg-6 text-lg-right pr-lg-4">
            <span class="text-6xl mb-0 color-changing-element fourzerofour">
              404
            </span>
          </div>
          <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
            <h2 class="text-3xl font-bold">{{ "sorry" | translate }}</h2>
            <h3 class="text-xl font-light">
              {{ "pagenotfound" | translate }}
            </h3>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-3 text-center mt-8 xl:mt-2">
            <button
              type="button"
              mat-stroked-button
              color="secondary"
              class="green-filled-btn w-25 btn-w-30"
              (click)="redirectToHome()"
            >
              {{ "backtohome" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
