mat-error ::ng-deep {
  color: red !important;
}

.login-window {
  height: calc(100vh - 75px);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  align-items: center;
  display: flex;
  // overflow-y: auto;
}

.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #ffffff;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.stepbody {
  height: 20rem;
  // width: 20rem;
}

.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.myscanner {
  display: flex;
  justify-content: center;
}

// video {
//   width: 100% !important;
//   height: calc(100vw - 10%) !important;
// }

::ng-deep {
  zxing-scanner {
    height: 100%;
    width: 100%;
  }

  video {
    width: 100% !important;
    height: calc(100vh - 300px);
  }
}

.toast-full-width {
  width: 100%;
  max-width: none;
}

.toast-bottom-full-width {
  bottom: 0;
  left: 0;
  right: 0;
}

.lock-screen {
  background: rgba(238, 242, 245, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(2px);
}

.lock-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  // overflow: hidden;
  .lock-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    // padding: 1rem;
    // background: var(--white-color);
    width: 100vw;
    .lock-section-img {
      color: var(--primary-color);
      align-self: center;
    }
    .locked-txt {
      padding: 1rem;
      color: var(--black-color);
    }
  }
}

.btn-action {
  width: -webkit-fill-available;
}

.alert-video {
  margin-top: -45px;
}

.viewmore {
  .more-content {
    padding: 0.5rem 0.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.25rem;
    font-family: serif;
    font-size: unset;
    color: black;
    height: 55px;
    .title-label {
      font-size: 0.8rem;
      font-family: system-ui;
      margin-bottom: 50px !important;
    }
    .more-content-body {
      display: block;
      flex: auto;
      width: 100%;
      .more-content-block {
        font-weight: 600;
        font-family: "robotobold";
        color: black;
      }
      .downloadfile {
        cursor: pointer;
      }
    }
  }
}

.product-card {
  height: calc(100vh - 340px);
  overflow: scroll;
}
