.user-dp-icon {
    font-size: 89px;
    color: #b68a35;
    background-color: #fff;
    border-radius: 50%;
    padding: 33px;
    height: 164px;
    width: 152px;
    border: 4px solid #b68a35;
}

.profile-page-avatar_user{
    display: flex;
    justify-content: end;
    margin-top: 0rem;
    padding: 36px;

}

.designation {
    /* text-align: center; */
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */
}
.profilediv{
    /* max-width: 60%; */
    margin: 0rem 10rem 4rem 10rem;
}
.profile-left-box {
    padding: 10px;
    background: white;
    border: 3px solid #b68a35;
    border-radius: 15px;
    margin-top: 3%;
}